<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-search"></i>
    Filter
  </div>
  <div class="card-body ">

    <!--<form>-->
    <div class="form-group">
      <div class="form-row">
        <!--Alarm ID-->
        <div class="col-md-3">
          <div class="form-label-group">
            <input type="text" id="alarmID" class="form-control" placeholder="Alarm ID" required="required"
                   autofocus="autofocus" [(ngModel)]="criteria.alarmId">
            <label for="alarmID">Alarm ID</label>
          </div>
        </div>
        <!--Severity-->
        <div class="col-md-3">
          <div class="form-label-group">
            <select id="severity" [(ngModel)]="criteria.severity"
                    class=" form-control   ">
              <option value="" SELECTED></option>
              <option value="warning">Warning</option>
              <option value="minor">Minor</option>
              <option value="major">Major</option>
              <option value="critical">Critical</option>
            </select>
            <!--<label for="severity">Description</label>-->
          </div>
        </div>
        <!--Description-->
        <div class="col-md-3">
          <div class="form-label-group">
            <input type="text" id="description" class="form-control" placeholder="Description" required="required"
                   [(ngModel)]="criteria.description">
            <label for="description">Description</label>
          </div>
        </div>
        <!--Site ID-->
        <div class="col-md-3">
          <div class="form-label-group">
            <input type="text" id="siteID" class="form-control" placeholder="Site ID" required="required"
                   [(ngModel)]="criteria.siteId">
            <label for="siteID">Site ID</label>
          </div>
        </div>
      </div>
    </div>
    <!--</form>-->
    <div class="d-flex justify-content-end">
      <!-- Toggle Between Active Status -->
      <a class="btn btn-primary col-md-3 mr-3 ml-3" style="color: #fff;"
         *ngIf="activeStatus == activeStatusTypes.activeOnly"
         (click)="activeStatus = activeStatusTypes.activeAndInActive">Active Only</a>
      <a class="btn btn-primary col-md-3 mr-3 ml-3" style="color: #fff;"
         *ngIf="activeStatus == activeStatusTypes.activeAndInActive"
         (click)="activeStatus = activeStatusTypes.inactiveOnly">Active & InActive</a>
      <a class="btn btn-primary col-md-3 mr-3 ml-3" style="color: #fff;"
         *ngIf="activeStatus == activeStatusTypes.inactiveOnly"
         (click)="activeStatus = activeStatusTypes.activeOnly">InActive Only</a>
      <a class="btn btn-primary btn-block col-md-3" style="color: #fff;" (click)="search()">Filter</a>
    </div>
    <div class="d-flex justify-content-end">
    </div>
  </div>
</div>
<div *ngIf="isLoaded == true" class="card mb-3">
  <div class="card-header">
    <i class="fas fa-bell"></i>
    Alarms
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Index</th>
          <th>Alarm ID</th>
          <th>Event Time</th>
          <th>Severity</th>
          <th>Description</th>
          <th>Cease Time</th>
          <th>Site ID</th>
          <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Index</th>
          <th>Alarm ID</th>
          <th>Event Time</th>
          <th>Severity</th>
          <th>Description</th>
          <th>Cease Time</th>
          <th>Site ID</th>
          <th></th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let alarm of alarmsList ;  let i = index"
            [hidden]="(alarm.isActive == 1 && activeStatus == activeStatusTypes.inactiveOnly)
            || (alarm.isActive == 0 && activeStatus == activeStatusTypes.activeOnly)">
          <td>{{i}}</td>
          <td>{{alarm.alarmId}}</td>
          <td>{{alarm.eventTime | date: 'MMM dd yyyy hh:mm'}}</td>
          <td [ngStyle]="{'background-color': severityColor(alarm.severity)}">{{alarm.severity}}</td>
          <td>{{alarm.description}}</td>
          <td *ngIf="alarm.ceaseTime == null">{{''}}</td>
          <td *ngIf="alarm.ceaseTime != null">{{alarm.ceaseTime | date: 'MMM dd yyyy hh:mm'}}</td>
          <td>{{alarm.siteId}}</td>
          <td>
            <button type="button" class="btn btn-primary"
                    (click)="loadComments(alarm)">
              Comments
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="isLoaded == false" class="card mb-3" style="text-align: center">
  <div class="card-body">
    <br/>

    <img src="../../assets/img/loader.gif"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
  </div>
</div>


<button hidden data-toggle="modal" data-target="#exampleModal" id="openModal" #openModal></button>
<app-comments [alarmObj]="commentsAlarmInput"></app-comments>
